* {
    padding: 0px;
    margin: 0px;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(46,161,135,1) 35%, rgba(210,76,38,1) 69%, rgba(128,12,12,1) 100%);
}

h1 {
    margin-top: 100px;
   text-align: center;
   color: rgb(68, 13, 13);
}

p {
    text-align: center;
    color: rgb(52, 30, 45);
}

.calculator {
max-width: 530px;
background-color: beige;
padding: 20px;
border-radius: 10px;
margin: 10px auto;
}

input[type=text] {
width: 315px;
    height: 25px;
    border-radius: 5px;
    border: 0px;
    background-color: #333333;
    color: #d9d9d9;
    padding: 0 5px 0 5px;
    margin: 0 0px 10px 84px;
}

.calc-buttons {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.button {
margin: 3px;
width: 63px;
border: none;
height: 25px;
border-radius: 4px;
color: #000000;
cursor: pointer;
}

button:hover {
  background-color: hsla(180, 100%, 40%, 0.3);
  transition: .2s;
}

.functions-one {
    width: 210px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.functions-two {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.triggers {
    background-color: #ffc266;
}

.numbers {
    background-color: #999999;
}

.basic-stuff {
    background-color: #80d4ff;
}

.complex-stuff {
    background-color: #80ffff;
}

#footer {
    color: azure;
}